.pokemon-list {
  .mdc-menu-anchor {
    display: flex;
    position: fixed;
    flex-flow: column-reverse;
    bottom: 16px;
    right: 16px;

    .mdc-fab {
      background-color: #607D8B;
      .sort-text-icon {
        display: flex;
        height: 56px;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 56px;
      }
      &.mdc-fab--mini {
        margin: 8px;
        .sort-text-icon {
          height: 40px;
          font-size: 18px;
          line-height: 40px;
        }
      }
    }
    .fab-speed-dial {
      display: flex;
      margin-bottom: 8px;
      flex-flow: column;
      align-items: center;
      .mdc-fab {
        margin: 8px 0;
        color: #455A64;
        background-color: #FFF;
      }
    }
    .mdc-menu {
      position: absolute;
      transform-origin: right bottom 0px;
      bottom: 64px;
      right: 16px;
    }
  }
}
