@import "~@material/elevation/mdc-elevation";
@import "~@material/card/mdc-card";

.pokemon {
  background-color: #B0BEC5;
  border-radius: 6px;

  .elevated-stats {
    padding: 8px;
    .pokemon-type {
      padding: 4px;
    }
  }

  .pokemon__media {
    margin-top: 8px;
    text-align: center;
  }
  .pokemon__content {
    margin-top: -16px;
    padding: 8px 16px;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #455A64;
    background-color: #FFF;

    .pokemon__content--name {
      .pokemon-id {
        color: #B0BEC5
      }
    }
    .pokemon__content--ivs {
      margin-bottom: 16px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
    .pokemon__content--move {
      margin: 8px 0;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}