@import "~@material/elevation/mdc-elevation";
@import "~@material/fab/mdc-fab";

@import "../../colors.scss";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  flex-flow: column;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  
  .sidebar__content {
    display: flex;
    padding: 4px 12px;
    flex-flow: column;
    align-content: center;
    align-items: center;
    background-color: #FFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    a.sidebar-link {
      opacity: 0.5;

      &.active {
        opacity: 1;
        button.mdc-fab {
          border: 1px solid $teal;
        }
      }

      button.mdc-fab.sidebar-link__button {
        margin: 8px 0;
        background-color: transparent;
        box-shadow: none;

        i.material-icons {
          font-size: 32px;
        }
      }
    }
  }
}