@import "~@material/card/mdc-card";
@import "~@material/elevation/mdc-elevation";
@import "~@material/typography/mdc-typography";

.pokedex-stat {
  display: flex;
  margin: 8px 0;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  align-content: stretch;
  line-height: normal;
  
  .pokedex-stat__label {
    flex: 1;
    text-align: left;
  }
}

.pokemon-types {
  display: flex;
  padding: 2px;
  flex-flow: row;
  align-items: center;
}
  
.pokedex-entry {
  color: #455A64;
  display: flex;
  margin: 24px 16px;
  flex-flow: row;
  
  .mdc-card {
    background-color: #FFFFFF;
    border-radius: 6px;
  }
  
  .pokemon-overview {
    display: flex;
    flex: 30%;
    flex-flow: column;
    justify-content: flex-end;
    background-color: #B0BEC5;
    border-radius: 6px;

    .pokemon-image {
      display: flex;
      flex-flow: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      z-index: 2;
    }
    .pokemon-info {
      flex: 1;
      margin-top: -16px;
      padding: 16px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      
      h2.pokemon-name {
        @extend .mdc-typography--title;
        text-align: center;
        .pokemon-number {
          color: #B0BEC5;
        }
      }
      h3 {
        @extend .mdc-typography--subheading1;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
      }
      .pokedex-desc {
        margin-top: 8px;
      }
      .pokedex-habitat {
        margin-top: 16px;
      }
    }
  }
  .pokedex-details {
    flex: 70%;
    display: flex;
    flex-flow: column;
    margin-left: 8px;

    .pokedex-stats {
      @extend .mdc-card;
      margin: 0 8px 8px;
      
      .pokedex-stats__base {
        margin-top: 16px;
        padding: 0 16px;
      }
      .bar-stat {
        margin-bottom: 8px;
      }
      .mdc-grid-tile {
        margin: 16px;
      }
    }

    .pokedex-moves {
      .mdc-grid-tile {
        @extend .mdc-card;
        margin: 8px;
        padding: 16px;
      }
      .pokedex-moves__list {
        flex: 1;
        .pokemon-move {
          margin: 8px 0;
        }
      }
    }

    .pokedex-evolution {
      @extend .mdc-card;
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin: 8px 8px 0;
      padding: 16px;
    }
    
    .mdc-grid-list {
      .mdc-grid-list__tiles {
        .mdc-grid-tile {
          flex: 40%;
          h3 {
            @extend .mdc-typography--body1;
            @extend .mdc-typography--adjust-margin;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}