@import "~@material/card/mdc-card";
@import "~@material/elevation/mdc-elevation";
@import "~@material/typography/mdc-typography";

.pokedex-stat {
  display: flex;
  margin: 8px 0;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  align-content: stretch;
  line-height: normal;
  
  .pokedex-stat__label {
    flex: 1;
    text-align: left;
  }
}

.pokemon-types {
  display: flex;
  padding: 2px;
  flex-flow: row;
  align-items: center;
}

.pokedex {
  flex: 0.8;
  color: #455A64;
  
  .pokedex-entry {
    display: flex;
    margin: 16px;
    padding: 8px;
    flex-flow: row;
    background-color: #B0BEC5;
    border-radius: 6px;
    
    .mdc-card {
      margin: 8px;
      background-color: #FFFFFF;
      border-radius: 6px;
    }
    
    .pokemon-overview {
      display: flex;
      flex: 30%;
      flex-flow: column;
      justify-content: flex-end;

      .pokemon-image {
        display: flex;
        flex-flow: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        z-index: 2;
      }
      .pokemon-info {
        margin-top: -16px;
        padding: 16px;
        text-align: center;
        
        h2.pokemon-name {
          @extend .mdc-typography--title;
          margin-bottom: 0px;
        }
        .pokemon-number {
          color: #B0BEC5;
        }
      }
    }
    .pokemon-details {
      flex: 70%;
      display: flex;
      flex-flow: column;

      .pokemon-base-stats {
        padding: 16px;
      }
      .bar-stat {
        margin-bottom: 8px;
      }
      .mdc-grid-list {
        .mdc-grid-list__tiles {
          .mdc-grid-tile {
            flex: 40%;
            margin: 16px;
            h3 {
              @extend .mdc-typography--subheading2;
              @extend .mdc-typography--adjust-margin;
              font-weight: 500;
            }
          }
        }
      }
    }
    .pokedex-moves {
      flex: 1;
      .pokemon-move {
        margin: 8px 0;
      }
    }
  }
}