@import "./colors.scss";

@import "~@material/theme/mdc-theme";
@import "~@material/typography/mdc-typography";
@import "~@material/elevation/mdc-elevation";

body {
  margin: 0px;
  min-height: calc(100vh + 192px);
  background-color: $mdc-theme-background;
}

.container {
  display: flex;
  margin-top: 64px;
  flex-flow: row;
}

.content {
  display: flex;
  margin-top: 64px;
  padding: 48px 16px;
  flex-flow: row;
  justify-content: center;
}

.divider--horizontal {
  display: block;
  height: 1px;
  margin: 16px 0;
  border-top: 1px solid #37474F;
}
.divider--vertical {
  display: inline-block;
  height: 24px;
  margin: 0 16px;
  border-right: 1px solid #37474F;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-small-caps {
  font-variant: small-caps;
}

// Icons
svg.pokemon-icon {
  height: 32px;
  width: calc(74px / (99/32));
  margin-left: 4px;
  image {
    height: 32px;
    width: calc(74px / (99/32));
  }
}
svg.pokedex-icon {
  height: 32px;
  width: calc(49px / (101/32));
  image {
    height: 32px;
    width: calc(49px / (101/32));
  }
}
svg.bag-icon {
  height: 32px;
  width: calc(82px / (96/32));
  image {
    height: 32px;
    width: calc(82px / (96/32));
  }
}

// Elevated Stats
.elevated-stats {
  display: flex;
  height: 32px;
  flex-flow: row;
  justify-content: space-between;
  
  .elevated-stats__stat {
    @extend .mdc-elevation--z2;
    border-radius: 16px;
    background-color: #fff;
  }
  .elevated-stats__text {
    padding: 0 8px;
    line-height: 32px;
    font-weight: 500;
    color: #455A64;
  }
}


