@import "./colors.scss";

@import "~@material/theme/mdc-theme";

body {
  margin: 0px;
  min-height: calc(100vh + 192px);
  background-color: $mdc-theme-background;
}

.container {
  display: flex;
  margin-top: 64px;
  flex-flow: row;
}

.content {
  display: flex;
  margin-top: 64px;
  padding: 48px 16px;
  flex-flow: row;
  justify-content: center;
}

.divider--horizontal {
  display: block;
  height: 1px;
  margin: 16px 0;
  border-top: 1px solid #37474F;
}
.divider--vertical {
  display: inline-block;
  height: 24px;
  margin: 0 16px;
  border-right: 1px solid #37474F;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-small-caps {
  font-variant: small-caps;
}

.mdc-grid-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  .mdc-grid-list__tiles {
    width: 90%;
    justify-content: center;
    .mdc-grid-tile {
      width: 296px;
      margin: 16px;
    }
  }
}

// Icons
svg.pokemon-icon {
  height: 32px;
  width: calc(74px / (99/32));
  margin-left: 4px;
  image {
    height: 32px;
    width: calc(74px / (99/32));
  }
}
svg.pokedex-icon {
  height: 32px;
  width: calc(49px / (101/32));
  image {
    height: 32px;
    width: calc(49px / (101/32));
  }
}
svg.bag-icon {
  height: 32px;
  width: calc(82px / (96/32));
  image {
    height: 32px;
    width: calc(82px / (96/32));
  }
}

