$mdc-theme-primary: #607D8B;
$mdc-theme-secondary: #3F51B5;
$mdc-theme-background: #ECEFF1;

$green: #7DD897;
$teal: #1D8696;
$light-green: #F0FFF1;
$light-teal: #CADFE3;
$button-background-gradient-start: #A8DD9C;
$button-background-gradient-end: #24CCAA;
$button-foreground-gradient-start: #AEFBA8;
$button-foreground-gradient-end: #5FEED1;
$dark-gradient-start: #52B888;
$dark-gradient-end: #266378;
$light-gradient-start: #FFFFFF;
$light-gradient-end: #B5FEA7;